body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
}

.container {
    background: white;
    padding: 30px;
    width: 300px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

button {
    padding: 10px 20px;
    background: #3498db;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #2980b9;
}
